<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/app.css" rel="stylesheet">
    <title>FOOTER</title>
</head>
<body>
    <h2>Contact</h2>
    <form class="flex flex-col gap-2 p-3" novalidate>
        <div class="flex flex-col">
            <label for="email">Entrez votre email :</label>
            <input id="email" class="border" name="email" type="email" placeholder="Email" autocomplete="email" required aria-describedby="email-error"/>
            <span id="email-error" class="text-red-600 text-sm" role="alert" aria-live="polite"></span>
        </div>
        <div class="flex flex-col">
            <label for="sujet">Sujet de votre message</label>
            <select class="border" name="sujet" id="sujet" required aria-describedby="sujet-error">
                <option value="" disabled selected>--Choisissez une option--</option>
                <option value="Généralités">Généralités</option>
                <option value="Demande de contenus">Demande de contenus</option>
                <option value="Réclamation">Réclamation en lien avec l'accessibilité ou la RGPD</option>
            </select>
            <span id="sujet-error" class="text-red-600 text-sm" role="alert" aria-live="polite"></span>
        </div>
        <div class="flex flex-col">
            <label for="message">Votre message</label>
            <textarea id="message" class="border" name="message" placeholder="Votre message" required aria-describedby="message-error"></textarea>
            <span id="message-error" class="text-red-600 text-sm" role="alert" aria-live="polite"></span>
        </div>
        <button type="submit"><a href="../../public/envoi-formulaire.html">Envoyez votre message</a></button>
    </form>
    <footer class="bg-slate-800 text-white">
        <div class="container mx-auto p-4 flex flex-col md:flex-row md:justify-between">
            <div>
                <h2 class="text-xl font-bold">Plan du site</h2>
                <ul class="space-y-2 md:space-y-0 md:space-x-4 md:flex">
                    <li><a href="../../public/page_langue_balto_slave.html" class="hover:underline" aria-label="Lien vers la page ces langues balto-slaves">Langues balto-slaves</a></li>
                    <li><a href="../../public/page_langue_celtique.html" class="hover:underline" aria-label="Lien vers la page des langues celtiques">Langues celtiques</a></li>
                    <li><a href="../../public/page_langue_germanique.html" class="hover:underline" aria-label="Lien vers la page des langues germaniques">Langues germaniques</a></li>
                    <li><a href="../../public/page_langue_romane.html" class="hover:underline" aria-label="Lien vers la page des langues romanes">Langues romanes</a></li>
                </ul>
            </div>
            <div class="mt-4 md:mt-0 flex items-center">
                <ul class="space-y-2 md:space-y-0 md:space-x-4 md:flex">
                    <li><a href="#" class="hover:underline" aria-label="Lien vers les mentions légales">Mentions légales</a></li>
                    <li><a href="#" class="hover:underline" aria-label="Lien vers la page d'accessibilité">Accessibilité</a></li>
                    <li><a href="#" class="hover:underline" aria-label="Lien vers la page des cookies et RGPD">Cookies et RGPD</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center text-sm mt-4 pb-4">
            &copy; 2025 Nom du Site. Équipe Baloh, Boos, Cozic, Hannauer.
        </div>
    </footer>
</body>
</html>